@using Microsoft.AspNetCore.Components.Routing
@using Templanza.Mobile.Components.Layout
@using Microsoft.AspNetCore.Components.Web

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="p-3">
                <h4>Página no encontrada</h4>
                <a href="">Volver al inicio</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>

<HeadOutlet />   <!-- ✅ habilita los <HeadContent> de cada page -->
