@inherits LayoutComponentBase
@using Templanza.Mobile.Components.Layout

<main class="app-main container-fluid px-3">
    <div class="app-glass">
        @Body
    </div>
</main>

<div class="page-spacer"></div>   <!-- espacio para scrollear -->
<NavMenu />
